.text-instrusctions{
    color: #C9C7E3;
    width: 600px;
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 50;
    margin: auto;
    padding-top: 60px;
    text-align: center;

}