
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


body {
    background-color: #2a2e4f;
    font-family: 'Space Mono', monospace;
}

.copas {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

