.cards .reverse {
    transform: rotate(180deg);
    width: 120px;
    margin: 5px;
}

.cards .straight {
    width: 120px;
    margin: 5px;
}

.cards-reading .reverse {
    transform: rotateX(180deg);
    width: 300px;
    margin: 5px;
}

.cards-reading .straight {
    width: 300px;
    margin: 5px;
}

h3 {
    font-size: 15px;
    color: #C9C7E3;
    margin-left: 5px;
}

.reading-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
}

.cards {
    display: inline-block;
}

.cards-reading {
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.cardsOfReading {
    display: flex;
    justify-content: center;
    margin-top: -200px;
}

.detail-cards .straight {
    width: 280px;
    margin: 5px;
}

.detail-cards .reverse {
    transform: rotate(180deg);
    width: 280px;
    margin: 20px;
}

.reading-detail-items {
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-end;
}

.detail-title {
    color: #EC663F;
}

.detail-text {
    width: 550px;
    margin-left: 10px;
    color: #C9C7E3;
}

.form-card-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-body-detail {
    width: 1250px;
    border-radius: 20px;
    opacity: 0.2;
    color: red;
}

.card {
    background: transparent !important;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.cards-reading {
    
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 250px;
}

.card-front {
    position: absolute;
    transform: rotateY(180deg);
}

.cards-reading {
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-back,
.card-front {
    width: 300px;
    position: absolute;
    backface-visibility: hidden;
}

.cards-reading-single{
    display: flex;
    justify-self: center;
    margin-left: 75px;
    height: 550px;
}



 .transparent{ 
    opacity: 0.0;
}

 .start{ 
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 0.5s;
       
     }


     @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .sun-move{
        background: transparent!important;
        width: 500px;
      }

      .conecting{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        height: 1200px;
        margin-top:200px
        
      }

      .conecting p{
        
        color: #C9C7E3;
        background: transparent!important;
        margin: 0!important;
        animation: fadeIn 2s ease-out forwards;
        
      }
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .advice{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

      }

      .reading-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 300px;
      }

      .advice h3{
        font-size: 120%;
        font-weight: 700;
      }

      .advice p{
        color: #C9C7E3;
      }
      .detail-text p {
        font-size: 100%;
      }